################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/**/obj/
*/**/bin

*.log

/$tf
/$tf

/src/QuizDIT/packages

/src/QuizDIT/.vs

src/QuizDIT/QuizDIT.API/QuizDIT.API.csproj.user
